<div class="container" ng-controller="groupCreateCtrl"
	data-ng-init="init()">
	<h1 class="title">Nova grupa</h1>

	<form novalidate="novalidate" class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="inputName">Naziv grupe:</label>
			<div class="controls">
				<input type="text" id="inputName"  class="form-control" ng-model="group.name" />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="inputDescription">Opis:</label>
			<div class="controls">
				<textarea rows="7" id="inputDescription"
					ng-model="group.description" class="form-control"></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="group.teachinggroup" class="form-control">Da
					li je u pitanju nastavna grupa?</label>
			</div>
		</div>
		<br>
		<div class="control-group">
			<div class="checkbox">
				<label><input type="checkbox" ng-model="group.forcedgroup" class="form-control">Da
					li je u pitanju nametnuta grupa?</label>
			</div>
		</div>
		<br>
		<div class="control-group">
			<div class="controls">
				<a ng-click="createNewgroup()" class="btn btn-small btn-primary">Kreirajte
					novu grupu</a>
			</div>
		</div>
	</form>
</div>