<div class="span6">
	<h3 class="title">Grupe</h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th style="min-width: 80px;">Ime</th>
				<th style="min-width: 80px;">Opis</th>
				<th style="width: 20px;">Slika</th>
				<th style="width: 20px;">Da li je nastavna grupa?</th>
				<th style="width: 20px;">Da li je obavezna grupa?</th>
				<th style="width: 20px;">Kreator</th>
				<th style="width: 20px;">Datum nastanka</th>
				<th style="width: 20px;">Da li je grupa raspustena?</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="group in groups">
				<td>{{group.name}}</td>
				<td>{{group.description}}</td>
				<td>{{group.picpath}}</td>
				<td>{{group.teachinggroup}}</td>
				<td>{{group.forcedgroup}}</td>
				<td>{{group.creatorusername}}</td>
				<td>{{group.dateofcreation}}</td>
				<td>{{group.dissolved}}</td>
				<td><a ng-click="editgroup(group.id)" class="btn btn-small btn-primary">Uredi</a></td>
				<td><a ng-click="deletegroup(group.id)" class="btn btn-small btn-danger">Brisati</a></td>
			</tr>
	</table>

	<a ng-click="createNewgroup()" class="btn btn-small">Dodaj groupa</a>
</div>